body {
  font-family: sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
}

#gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gallery-item:not(:last-child) {
  margin-right: 20px;
}

#counter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#counter button {
  width: 70px;
}

#value {
  margin-left: 5px;
  margin-right: 5px;
}